<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="main-page">
    {{>header}}
    <img class="imgMe" src="/img/me.jpeg" alt="Image of ML">

    </div>

    <footer>
        {{>footer}}
    </footer>

</body>

</html>